doctype html
html
    head
        title=account
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Account Page
        table.table.table-striped
            tr
                th Account
                th balance
            tr
                td #{account}
                td #{balance}

        h1 MITX 전송
        form(action='/account/' + account + '/transferFee' method='post')
            p to:
                input(type="text" name="receiver")
            p amount:
                input(type="text" name="amount")
                input(type="hidden" name="feePayer" value="0xee2c36cddD42BD493c0c3A264d8956688300e1aD")
            p
                input(type="submit" id="transfer" value="실행")
        h1 거래 기록들.
        table.table.table-striped
            tr
                th From
                th To
                th Value
                th timestamp
            each histo in history
                tr
                    td= histo.fromAddress
                    td= histo.toAddress
                    td.align-right #{histo.amount}
                    td= histo.createdAt
