doctype html
html
    head
        title=account
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Account Page
        table(style='border:thin solid')
            tr
                th Account
                th balance
            tr
                td #{account}
                td #{balance}

        h1 MITX 전송 (fee delegation)
        form(action='/account/' + account + '/transferFee' method='post')
            table(style='width:400; border:thin solid')
                tr
                    td(style='width:150') to:
                        input(type="text" name="receiver")
                    td(style='width:150') amount:
                        input(type="text" name="amount")
                    td(style='width:100')
                        input(type="submit" id="transfer" value="실행")
        h1 거래 기록들.
        table.table.table-striped
            tr
                th From
                th To
                th Value
                th timestamp
            each histo in history
                tr
                    td= histo.fromAddress
                    td= histo.toAddress
                    td.align-right #{histo.amount}
                    td= histo.createdAt
