doctype html
html
    head
        title= account
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript" src="/javascripts/m6.js")
    body
        h1 이 페이지는 API 테스트용 페이지입니다.
        p account information for #{account}
        p balance #{balance}
        h1 Contract history 조회
        form(action='/account/historyPreset' method='post')
            p preset:
                input(type="text" name="preset")
                input(type="submit" value="조회")
        h1 TEST
            form
                input(id="clickMe" type="button" value="Test")
        h1 Token 전송 실행용
        form(action='/account/'+ account +'/transfer' method='post')
            p to:
                input(type="text" name="sender")
            p amount:
                input(type="text" name="amount")
                input(type="hidden" name="kind" value="ft")
            p
                input(type="button" id="transfer" value="실행")
        h1 거래 기록들.
        table.table.table-striped
            tr
                th From
                th To
                th Value
                th timestamp
            each histo in history
                tr
                    td= histo.fromAddress
                    td= histo.toAddress
                    td.align-right #{histo.amount}
                    td= histo.createdAt