doctype html
- let total_token = 10000000000
- let decimals = 1000000000000000000
- let precision = 7

html
    head
        title= account
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 이 페이지는 API 테스트용 페이지입니다.
        p account information for #{account}
        p balance #{balance}
        h1 Contract history 조회
        form(action='/kip7/historyPreset' method='post')
            p preset:
                input(type="text" name="preset")
                input(type="submit" value="조회")
        h1 Holders
        table.table.table-striped
            //- 테이블의 헤더 부분
            tr
                th address
                th Amount
                th Share(%)
                // th Timestamp
            //- holders에서 holder의 리스트를 받아서 개별적인 holder의 내용을 출력한다.
            each holder in holders
                tr
                    td
                        - url = "./" + holder.address
                        a(href="./" + url) #{holder.address}
                    //- 정밀도 10의 18제곱이므로 10의 18제곱을 나누어준다.
                    - let amount = Number(holder.amountHeld) / decimals
                    td.align-right #{amount.toFixed(precision)}
                    td.align-right #{(amount / total_token * 100).toFixed(precision)}
                    // td.align-right #{holder.createdAt}

        h1 거래 기록들.
        table.table.table-striped
            tr
                th From
                th To
                th Value
                th timestamp
            each histo in history
                tr
                    td= histo.fromAddress
                    td= histo.toAddress
                    td.align-right #{histo.amount}
                    td= histo.createdAt